# Used for web application - this is the backend API server
PUBLIC_SERVER_URL=http://localhost:3035

# Used only to set default port/host in development (vite.config.ts)
PUBLIC_WEB_URL=http://localhost:8085
